# Kita Pisahkan datanya menjadi 3

Url Source : https://www.kaggle.com/alxmamaev/flowers-recognition

- train (data latih)
- validation (validasi untuk data latih)
- test (data testing untuk menguji model)

In [1]:
# extract melalui notebook jika diperlukan
# !unzip flowers-recognition.zip

In [2]:
import os
import pandas as pd

In [26]:
mypath= 'flowers/'

In [33]:
file_name = []
tag = []
full_path = []
for path, subdirs, files in os.walk(mypath):
    for name in files:
        full_path.append(os.path.join(path, name).replace("\\","/")) 
        tag.append(path.split('/')[-1])        
        file_name.append(name)

In [35]:
# memasukan variabel yang sudah dikumpulkan pada looping di atas menjadi sebuah dataframe agar rapih
df = pd.DataFrame({"path":full_path,'file_name':file_name,"tag":tag})
df.groupby(['tag']).size()

tag
daisy         764
dandelion    1052
rose          784
sunflower     733
tulip         984
dtype: int64

In [36]:
#cek sample datanya
df.head()

,path,file_name,tag
0,flowers/daisy/100080576_f52e8ee070_n.jpg,100080576_f52e8ee070_n.jpg,daisy
1,flowers/daisy/10140303196_b88d3d6cec.jpg,10140303196_b88d3d6cec.jpg,daisy
2,flowers/daisy/10172379554_b296050f82_n.jpg,10172379554_b296050f82_n.jpg,daisy
3,flowers/daisy/10172567486_2748826a8b.jpg,10172567486_2748826a8b.jpg,daisy
4,flowers/daisy/10172636503_21bededa75_n.jpg,10172636503_21bededa75_n.jpg,daisy

# Train test split

In [37]:
#load library untuk train test split
from sklearn.model_selection import train_test_split

In [38]:
#variabel yang digunakan pada pemisahan data ini
X= df['path']
y= df['tag']

In [39]:
# split dataset awal menjadi data train dan test
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=300)

In [40]:
# kemudian data test dibagi menjadi 2 sehingga menjadi data test dan data validation.
X_test, X_val, y_test, y_val = train_test_split(
    X_test, y_test, test_size=0.5, random_state=100)

In [41]:
# menyatukan kedalam masing-masing dataframe

df_tr = pd.DataFrame({'path':X_train
              ,'tag':y_train
             ,'set':'train'})

df_te = pd.DataFrame({'path':X_test
              ,'tag':y_test
             ,'set':'test'})

df_val = pd.DataFrame({'path':X_val
              ,'tag':y_val
             ,'set':'validation'})

In [42]:
print('train size', len(df_tr))
print('val size', len(df_te))
print('test size', len(df_val))

train size 3453
val size 432
test size 432

In [43]:
# melihat proporsi pada masing masing set apakah sudah ok atau masih ada yang ingin diubah
df_all = df_tr.append([df_te,df_val]).reset_index(drop=1)

print('===================================================== \n')
print(df_all.groupby(['set','tag']).size(),'\n')

print('===================================================== \n')

#cek sample datanya
df_all.sample(3)

=====================================================

set         tag
test        daisy         79
            dandelion    112
            rose          86
            sunflower     67
            tulip         88
train       daisy        608
            dandelion    834
            rose         614
            sunflower    602
            tulip        795
validation  daisy         77
            dandelion    106
            rose          84
            sunflower     64
            tulip        101
dtype: int64

=====================================================

                                               path        tag    set
489   flowers/dandelion/5646743865_a8f20b60f7_n.jpg  dandelion  train
1061       flowers/rose/7456197696_7e1558cc22_n.jpg       rose  train
2977         flowers/rose/4684127262_6c3346188d.jpg       rose  train

# Merapihkan ke folder set masing-masing

In [44]:
# menghapus folder dataset jika diperlukan
#!rm -rf dataset/

In [45]:
import shutil
from tqdm.notebook import tqdm as tq

In [46]:
datasource_path = "flowers/"
dataset_path = "dataset/"

In [47]:
for index, row in tq(df_all.iterrows(), ):
    
    #detect filepath
    file_path = row['path']
    if os.path.exists(file_path) == False:
            file_path = os.path.join(datasource_path,row['tag'],row['image'].split('.')[0])            
    
    #make folder destination dirs
    if os.path.exists(os.path.join(dataset_path,row['set'],row['tag'])) == False:
        os.makedirs(os.path.join(dataset_path,row['set'],row['tag']))
    
    #define file dest
    destination_file_name = file_path.split('/')[-1]
    file_dest = os.path.join(dataset_path,row['set'],row['tag'],destination_file_name)
    
    #copy file from source to dest
    if os.path.exists(file_dest) == False:
        shutil.copy2(file_path,file_dest)

0it [00:00, ?it/s]

# Finish! Dataset siap digunakan